/* general */
body{
	--light: #fdfdfd;
	--medium: #6b5656;
	--medium2: #505a66;
	--dark: #263547;
	--red: #fd4345;
	--body-bg: #f1f1f1;
}
body{
	background: var(--body-bg);
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	line-height: 125%;
	color: var(--dark);
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
section{
	background: var(--light);
}
aside{
	background: var(--medium);
	color: var(--light);
}
section, aside{
	padding: 3em;
}
h3{
	color: var(--red);
	margin-bottom: .5em;
}
h4{
	margin: 0;
}
.resume{
	display: grid;
	grid-template-columns: 1fr;
}
.section-a{
	grid-row: 3;
}
.memberships{
	grid-row:10;
}
/* header */
header{
	text-transform: uppercase;
	background: url("../img/pexels-photo-247791.png") center center;
	background-size: cover;
	position: relative;
	top: 0;
	bottom: 0;
	min-height:200px;
	z-index: -10;
}
.header-grid{
	padding: 3em;
	display: grid;
	line-height: 220%;
}
.header-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
  left: 0;
  height: 100%;
	width: 100%;
  z-index: -5;
}
header h1{
	font-family: 'Montserrat', sans-serif;
	color: var(--light);
	letter-spacing: .25em;
	margin-bottom: 0;
	font-size: 2em;
}
header h2{
	font-family: 'Montserrat Alternates', sans-serif;
	color: var(--red);
	font-size: 1em;
	letter-spacing: .2em;
	margin-top: 0;
}
/* address */
.address-grid{
	display: grid;
	grid-template-columns: 2em 1fr;
	grid-gap: 1em;
}
span{
	margin: auto 0;
}
.contacts a:hover{
	color: var(--dark);
}
i.fa{
	font-size: 2em;
}
/* qualifications */
.qualifications li{
	display: inline;
	padding: 3px;
	background: var(--dark);
	border-radius: 5px;
	line-height: 180%;
}
/* memberships */
.memberships li {
	padding-left: 1em;
	text-indent: -1em;
}
.memberships li::before {
	content: "■ ";
	color: var(--dark);
}
.section-d,.section-c,.section-b{
	border: solid 1em var(--medium);
	border-top: solid 4em var(--medium);
}
/* responsive Design */
@media screen and (min-width: 850px) {
	body{
		padding-top: 5em;
	}
	p{
		margin-top: 0;
	}
	.resume{
		animation: fadein 2.5s;
		font-size: .7em;
		width: 850px;
		height: 1100px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 620px 230px;
	}
	header{
		grid-row: 1;
		grid-column: 1;
		min-height: auto;
		border-right: solid 3px var(--light);
	}
	header h1{
		font-size: 2.5em;
	}
	header h2{
		font-size: 1.5em;
	}
	aside{
		grid-column: 2;
		padding-left: 1.5em;
		padding-bottom: 0;
	}
	.qualifications{
		grid-row: 2/5;
	}
	.memberships{
		grid-row: 5/8;
	}
	section{
		grid-column: 1;
		padding-right: 1.5em;
		padding-bottom: 0;
	}
	.section-a{
		grid-row: 2;
	}
	.section-b{
		grid-row: 3;
		padding-top: 0;
	}
	.section-c{
		grid-row: 4/7;
		padding-top: 0;
	}
	.section-d{
		grid-row: 7;
		padding-top: 0;
		padding-bottom: 3em;
	}
	.section-d,.section-c,.section-b{
		border: none;
	}
}

@media print{
	body {
		visibility: hidden;
	}
	body .resume{
		visibility: visible;
	}
	body .resume{
		position: absolute;
		left: 0;
		top: 0;
	}
	p{
		margin-top: 0;
	}
	.resume{
		font-size: .7em;
		width: 850px;
		height: 1100px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 620px 230px;
	}
	header{
		background: var(--dark);
		grid-row: 1;
		grid-column: 1;
		min-height: auto;
		border-right: solid 3px var(--light);
	}
	header h1{
		font-size: 2.5em;
	}
	header h2{
		font-size: 1.5em;
	}
	aside{
		grid-column: 2;
		padding-left: 1.5em;
		padding-bottom: 0;
		background: var(--medium2);
	}
	.qualifications{
		grid-row: 2/5;
	}
	.memberships{
		grid-row: 5/8;
	}
	section{
		grid-column: 1;
		padding-right: 1.5em;
		padding-bottom: 0;
	}
	.section-a{
		grid-row: 2;
	}
	.section-b{
		grid-row: 3;
		padding-top: 0;
	}
	.section-c{
		grid-row: 4/7;
		padding-top: 0;
	}
	.section-d{
		grid-row: 7;
		padding-top: 0;
		padding-bottom: 3em;
	}
	.section-d,.section-c,.section-b{
		border: none;
	}
}
@keyframes fadein {
	from {opacity:0;}
	to {opacity:1;}
}
