@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

html, body {
  display: grid;
  height: 100vh;
}

body {
  background: teal;
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
}

.video {
  margin: auto;
}

progress[value].progress-bar  {
  width: 100%;
  background: #3259cd;

  /* box-sizing: border-box;
  padding: 2rem; */
}
