@mixin fadein {
  @keyframes fadein {
  	from {opacity:0;}
  	to {opacity:1;}
  }
}
@mixin chevron{
  #chevron {
    margin: auto;
    position: relative;
    padding: 2px;
    height: 2px;
    width: 300px;
  }

  #chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: red;
    transform: skew(0deg, 6deg);
  }

  #chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: red;
    transform: skew(0deg, -6deg);
  }
}


@mixin ham-navbar {
  nav{
    position: relative;
    border: yellow 1px dotted;
    text-align: left;
    ul{
      margin: 0;
      position: absolute;
      list-style: none;
      display: none;
      padding-top: 30vh;
      a{
        text-decoration: none;
        color: red;
      }
    }
    .ham-nav{
      position: absolute;
    }
  }
  #line-1, #line-2, #line-3{
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background: red;
  }
  nav:hover{
    ul {
      display: inherit;
    }

    .ham-nav{
      margin: 8px;
    }
    #line-2{
      background: transparent;
    }
    #line-1{
      position: absolute;
      // transform: skew(0deg, -45deg);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    #line-3{
      // transform: skew(0deg, 45deg)
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}
