@mixin full-page-resume {
  font-size: .67em;
  width: 850px;
  height: 1100px;
  margin: 0 auto;
  grid-template-columns: 670px 200px;
}
@mixin fadein {
  @keyframes fadein {
  	from {opacity:0;}
  	to {opacity:1;}
  }
}
@mixin full-page-grid {
  .section-b{
    grid-row: 3;
    padding-top: 2rem;
  }
  .section-c{
    grid-row: 4/7;
  }
  .section-d{
    grid-row: 7/8;
  }
  .qualifications{
    padding-top: 2rem;
    grid-row: 2/5;
  }
  .header-grid{
    grid-row: 1;
    grid-column: 1;
    min-height: auto;
  }
  aside{
    grid-column: 2;
    padding-bottom: 0;
  }
  section{
    grid-column: 1;
    padding: 0 1rem;
  }
}
